.admin-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 4%;
}

.admin-navbar .admin-panel-logo {
  width: max(10%, 80px);
}

.admin-navbar .admin-profile {
  width: 40px;
}
