.list {
  width: 70%;
  margin-left: max(5vw, 25px);
  margin-top: 50px;
  margin-bottom: 50px;
}

.list-table-format {
  display: grid;
  grid-template-columns: 0.5fr 2fr 1fr 1fr 0.5fr;
  align-items: center;
  gap: 10px;
  padding: 12px 15px;
  border: 1px solid #cacaca;
  font-size: 1.2rem;
}

.list-table {
  margin-top: 1rem;
}

.list-table-format.title {
  background-color: #f9f9f9;
}

.list-table-format img {
  width: 80px;
}

.croos-btn {
  margin-left: 10px;
  border: 1px solid gray;
  width: fit-content;
  border-radius: 50%;
  padding: 0 8px;
  cursor: pointer;
}

@media (max-width: 600px) {
  .list-table-format {
    grid-template-columns: 1fr 3fr 1fr;
    gap: 15px;
  }
  .list-table-format.title {
    display: none;
  }
}
