.my-orders {
  margin: 50px 0;
}

.my-orders .container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

.my-orders-order {
  display: grid;
  grid-template-columns: 0.5fr 2fr 1fr 1fr 2fr 1fr;
  align-items: center;
  gap: 30px;
  padding: 10px 20px;
  color: #454545;
  border: 2px solid rgba(233, 150, 122, 0.753);
  border-radius: 5px;
}

.my-orders-order img {
  width: 50px;
}

.my-orders-order p span {
  font-weight: 500;
  color: tomato;
}

.my-orders-order button {
  border: none;
  padding: 10px 0px;
  border-radius: 4px;
  background-color: #ffe1e1;
  cursor: pointer;
  color: #454545;
  transition: all 0.2s;
}

.my-orders-order button:hover {
  background-color: rgba(255, 160, 122, 0.647);
}

@media (max-width: 900px) {
  .my-orders-order {
    grid-template-columns: 1fr 2fr 1fr;
    row-gap: 4px;
    font-size: 12px;
  }
  .my-orders-order button {
    font-size: 10px;
  }
}
