.float-cart {
  position: fixed;
  z-index: 1;
  bottom: max(3vw, 22px);
  right: max(2vw, 18px);
  padding: 0.8rem 1rem;
  background-color: rgb(250, 214, 198);
  border: 2px solid rgba(240, 128, 128, 0.836);
  box-shadow: rgba(240, 128, 128, 0.653) 0 0 10px;
  border-radius: 50%;
  animation: popUp 0.5s;
  transform: scale(0.8);
}

.float-cart:hover {
  transform: scale(1);
  transition: all 0.2s ease-in-out;
}

@keyframes popUp {
  0% {
    transform: scale(0.5);
    rotate: -30deg;
  }
  50% {
    transform: scale(1);
    rotate: 30deg;
  }
  100% {
    transform: scale(0.8);
  }
}
