.add-food {
  width: 70%;
  margin-left: max(5vw, 25px);
  margin-top: 50px;
  color: #6d6d6d;
}

.add-food form {
  gap: 20px;
}

.add-image-upload img {
  width: 150px;
  cursor: pointer;
}

.add-product-name,
.add-product-description {
  width: max(40%, 280px);
}

.add-product-name input,
.add-product-description textarea {
  font-size: 1.1rem;
  padding: 10px;
}

.add-category-price {
  display: flex;
  gap: 30px;
}

.add-category-price select,
.add-category-price input {
  font-size: 1.1rem;
  max-width: 120px;
  padding: 10px;
}

.add-btn {
  max-width: 120px;
  font-size: 1rem;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: darkslategrey;
  color: white;
  cursor: pointer;
}

.add-btn:disabled {
  background-color: #6d6d6d;
}
